.App {
  margin: 15px 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.NLPText {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.NLPText > div{
  width: 46%;
  height: 10em;
  margin: 1em 0.5em;
  border: blue solid 1px;
  border-radius: 10px;
  padding: 1px 5px;
}

textarea {
  width: 100%;
  resize: none;
  font-size: large;
  border: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
